<%- include('../partials/header'); %>
  <%- include('../partials/navbar'); %>
    <% if(id){ %>
      <div class="card" style="width: 18rem;">
        <img src=<%=thumbnail %> class="card-img-top" alt= <%= title %>}} />
          <div class="card-body">
            <h5 class="card-title">Datos del Producto <%= id %>
            </h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Title:</b>
                <%= title %>
              </li>
              <li class="list-group-item"><b>Price:</b> $ <%= price %>
              </li>
            </ul>
          </div>

          <% }else { %>
            <h1>Producto no encontrado</h1>
            <% } %>

              <%- include('../partials/footer'); %>